<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <img src="../../../../assets/air_serbia.png" alt="" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h5>
          Air Serbia
        </h5>
        <h6>
          Airline Company
        </h6>
        <p class="profile-promo">CHEAPEST FLIGHTS IN SERBIA</p>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >Flights</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <div class="tab-content profile-tab" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="row">
            <div class="col-md-6">
              <label>Name</label>
            </div>
            <div class="col-md-6">
              <p>Air Serbia</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Address</label>
            </div>
            <div class="col-md-6">
              <p>Petra Petrovica 1, Belgrade</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <p>airserbia@gmail.com</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Rating</label>
            </div>
            <div class="col-md-6">
              <p>4.5</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Available Destinations</label>
            </div>
            <div class="col-md-6">
              <p>Belgrade, London..</p>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <div class="row">
            <div class="col-md-6">
              <label>All available flights</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
