.transparent-bg {
  background-color: rgba(245, 245, 245, 0.2);
}



hr.solid {
  border-top: 2px solid whitesmoke;
}

.background-image {
  background-image: url("../../../../assets/background2.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


