<app-nav-bar></app-nav-bar>

<div class="background-image">
  <div
    style="background-color: transparent; color: white"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">WEB 2 Project</h1>
      <p class="lead">pr125-2016, pr129-2016</p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <app-rac-service-navbar></app-rac-service-navbar>
  <div class="container transparent-bg">
    <br />
    <form [formGroup]="editRacInfoForm" (ngSubmit)="saveProfileChanges()">
      <div class="mx-4 form-group">
        <label for="serviceName">Service Name: {{ currentCompanyName }}</label>
        <input type="text" class="form-control" formControlName="CompanyName" />
      </div>

      <div class="mx-4 form-group">
        <label for="address">Address: {{ currentCompanyAddress }}</label>
        <input type="text" class="form-control" formControlName="Adress" />
      </div>

      <div class="mx-4 form-group">
        <label for="promoText"
          >Description: {{ currentCompanyDescription }}</label
        >
        <input type="text" class="form-control" formControlName="Description" />
      </div>

      <div class="mx-4 form-group">
        <label for="phone">Phone number: {{ currentCompanyPhoneNumber }}</label>
        <input type="text" class="form-control" formControlName="PhoneNumber" />
      </div>

      <br />
      <button type="submit" class="btn mx-4 btn-primary">Save changes</button>
    </form>
    <br />
  </div>
  <br />
  <br />
</div>
