<app-nav-bar></app-nav-bar>

<div class="background-image">
  <div
    style="background-color: transparent; color: white"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">WEB 2 Project</h1>
      <p class="lead">pr125-2016, pr129-2016</p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <app-rac-service-navbar></app-rac-service-navbar>
  <div class="container transparent-bg">
    <br />
    <form action="/action_page.php">
      <div class="mx-4 form-group">
        <label for="serviceName">Service Name:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Name..."
          id="serviceName"
        />
      </div>

      <div class="mx-4 form-group">
        <label for="address">Address:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Address..."
          id="address"
        />
      </div>

      <div class="mx-4 form-group">
        <label for="promoText">Promo text:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Promo text..."
          id="promoText"
        />
      </div>

      <div class="mx-4 form-group">
        <label for="phone">Phone number:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Phone number..."
          id="phone"
        />
      </div>

      <br />
      <button type="submit" class="btn mx-4 btn-primary">Save changes</button>
    </form>
    <br />
  </div>
</div>
