<app-nav-bar></app-nav-bar>

<div class="background-image">
  <div
    style="background-color: transparent; color: white"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">Team7</h1>
      <p class="lead">
        Worldwide offering of fast and affordable car rentals and flights!
      </p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <div class="container" style="background-color: rgba(245, 245, 245, 0.2)">
    <form [formGroup]="searchCarsForm" (ngSubmit)="searchCars()">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center">
          <br />
          <div>
            <h4><b>Enter info</b></h4>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
          <div class="form-group">
            <input
              placeholder="Pick-up date"
              type="text"
              class="form-control"
              onfocus="(this.type='date')"
              onblur="(this.type='text')"
              id="PickUpDate"
              formControlName="firstDayOfReservation"
            />
          </div>

          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Passengers"
              formControlName="numberOfSeats"
            />
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <input
              placeholder="Drop-off date"
              type="text"
              class="form-control"
              onfocus="(this.type='date')"
              onblur="(this.type='text')"
              formControlName="lastDayOfReservation"
            />
          </div>

          <div class="form-group">
            <div class="dropdown">
              <button
                class="btn btn-info dropdown-toggle btn-block"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ selectedCarType }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div>
                  <button
                    type="button"
                    class="dropdown-item btn-primary btn-block"
                    id="option"
                    on-click="saveSelectedCarType('Suv')"
                  >
                    Suv
                  </button>
                  <button
                    type="button"
                    class="dropdown-item btn-primary btn-block"
                    id="option"
                    on-click="saveSelectedCarType('Sportscar')"
                  >
                    Sportscar
                  </button>
                  <button
                    type="button"
                    class="dropdown-item btn-primary btn-block"
                    id="option"
                    on-click="saveSelectedCarType('Truck')"
                  >
                    Truck
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              id="maxPrice"
              placeholder="Max price per day ($)"
              formControlName="pricePerDay"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div>
            <button type="submit" class="btn btn-primary btn-block">
              Search cars
            </button>
            <br />
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </form>

    <div class="text-center">
      <button type="button" class="btn btn-primary" on-click="resetFilters()">
        Reset filters
      </button>
      <br />
    </div>

    <br />
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 text-center">
        <div>
          <h4><b>Cars</b></h4>
        </div>
        <div [hidden]="authService.getUserRole() != 'NonRegistered'">
          <h6><b>Please login to make reservations!</b></h6>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <thead style="background: #e37222">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Model</th>
              <th scope="col">Production year</th>
              <th scope="col">Number of seats</th>
              <th scope="col">Car type</th>
              <th scope="col">Car rating</th>
              <th scope="col">Price per day ($)</th>
              <th scope="col" [hidden]="reservationOn == false">Reserve</th>
            </tr>
          </thead>
          <tbody *ngFor="let car of allCars">
            <tr>
              <td>{{ car.brand }}</td>
              <td>{{ car.model }}</td>
              <td>{{ car.year }}</td>
              <td>{{ car.numberOfSeats }}</td>
              <td>{{ car.typeOfCar }}</td>
              <td>{{ getCarRating(car.carRating, car.numberOfRatings) }}</td>
              <td>{{ car.pricePerDay }} $</td>
              <td [hidden]="reservationOn == false">
                <button
                  type="button"
                  on-click="makeCarReservation(car.id, car.pricePerDay)"
                >
                  Reserve
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br />
  </div>
</div>
