<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 rounded border-color" style="background: whitesmoke;">
      <br />
      <div>
        <h4><b>Good to see you again</b></h4>
        <br />
        <p class="lead">
          Sign in for member-only deals and access to your trip details.
        </p>
      </div>

      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="InputLoginEmail"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="InputLoginPassword"
          placeholder="Password"
        />
      </div>
      <div>
        <button
          type="button"
          class="btn btn-primary btn-block"
          routerLink="/home"
        >
          Sign in
        </button>
      </div>
      <div>
        <br />
        <p class="text-muted">
          ------------------------ or -------------------------
        </p>
      </div>

      <div>
        <img
          src="../../../../assets/google_sign-in_logo.png"
          class="img-center"
          alt="Google button"
        />
        <br />
      </div>

      <div>
        <p>
          Don't have an account?
          <a routerLink="/register"
            ><button
              type="button"
              class="btn-create-accaunt float-right rounded"
            >
              Create account
            </button></a
          >
        </p>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
