<app-nav-bar></app-nav-bar>

<div class="background-image">
  <div
    style="background-color: transparent; color: white"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">Team7</h1>
      <p class="lead"> Worldwide offering of fast and affordable car rentals and flights!</p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <div class="container" style="background-color: rgba(245, 245, 245, 0.2)">
    <form [formGroup]="newAdminForm" (ngSubmit)="registerNewAdmin()">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center">
          <br />
          <div>
            <h4><b>Register Administrator</b></h4>
            <br />
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter email"
              formControlName="email"
            />
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>

      <br />

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div>
            <button type="submit" class="btn btn-primary btn-block">
              Register
            </button>
            <br />
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </form>

    <br />

    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th style="width: 25%">#</th>
              <th style="width: 25%">Name</th>
              <th style="width: 25%">Email</th>
              <th style="width: 25%">Role</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of allUsers; let i = index">
            <tr>
              <th scope="row">{{ i }}</th>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>

              <container-element [ngSwitch]="user.role">
                <td *ngSwitchCase="0">Registered</td>
                <td *ngSwitchCase="1">CarAdmin</td>
                <td *ngSwitchCase="2">AirlineAdmin</td>
                <td *ngSwitchDefault>SystemAdmin</td>
              </container-element>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
