<app-rac-service-navbar></app-rac-service-navbar>
<div class="container transparent-bg">
  <br />
  <div
    *ngIf="newOfficeProcess == false; then button; else newOfficeAddition"
  ></div>
  <ng-template #button>
    <div class="row justify-content-center">
      <button
        type="button"
        class="btn btn-secondary btn-lg"
        (click)="newOfficeOn()"
      >
        Add new office
      </button>
    </div>
  </ng-template>

  <ng-template #newOfficeAddition>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 rounded border-color transparent-bg">
        <br />
        <div class="text-center">
          <h4><b>Add new office</b></h4>
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="officeAddress"
            placeholder="Address"
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="officeCity"
            placeholder="City"
          />
        </div>

        <div class="form-group">
          <input
            type="number"
            class="form-control"
            id="officePhoneNumber"
            placeholder="Phone number"
          />
        </div>

        <div>
          <button
            type="submit"
            class="btn btn-secondary btn-block"
            (click)="newOfficeOff()"
          >
            Add office
          </button>
          <br />
        </div>
      </div>
    </div>
  </ng-template>

  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead style="background: #e37222;">
        <tr>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Petra Petrovica 2</td>
          <td>Novi Sad</td>
          <td>
            <button type="button" class="btn mx-4 btn-secondary btn-sm">
              Edit
            </button>
            <button type="button" class="btn mx-4 btn-secondary btn-sm">
              Remove
            </button>
          </td>
        </tr>
        <tr>
          <td>Marka Markovica 1</td>
          <td>Belgrade</td>
          <td>
            <button type="button" class="btn mx-4 btn-secondary btn-sm">
              Edit
            </button>
            <button type="button" class="btn mx-4 btn-secondary btn-sm">
              Remove
            </button>
          </td>
        </tr>
        <tr>
          <td>Marka Markovica 1</td>
          <td>Belgrade</td>
          <td>
            <button type="button" class="btn mx-4 btn-secondary btn-sm">
              Edit
            </button>
            <button type="button" class="btn mx-4 btn-secondary btn-sm">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
</div>
