.transparent-bg {
  background-color: rgba(245, 245, 245, 0.2);
}

table.table-bordered {
  border: 1px solid black;
  margin-top: 20px;
}

table.table-bordered > thead > tr > th {
  border: 1px solid black;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid black;
}

hr.solid {
  border-top: 2px solid whitesmoke;
}

.background-image {
  background-image: url("../../../../assets/background2.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
