<nav style="background-color: #e37222" class="navbar navbar-dark">
  <div class="container">
    <a routerLink="/home" class="navbar-brand">WEB2</a>
    <nav class="nav nav-pills mr-auto flex-column flex-sm-row">
      <a
        class="flex-sm-fill text-sm-center nav-link"
        routerLink="/home"
        routerLinkActive="active"
        >Home</a
      >
      <a
        class="flex-sm-fill text-sm-center nav-link"
        routerLink="/flights"
        routerLinkActive="active"
        >Flights</a
      >
      <a
        class="flex-sm-fill text-sm-center nav-link"
        routerLink="/rac-services"
        routerLinkActive="active"
        >Rent a Car</a
      >

      <a
        class="flex-sm-fill text-sm-center nav-link"
        routerLink="/rac-service-edit-profile"
        routerLinkActive="active"
        [hidden]="
          userRole == 'NonRegistered' ||
          userRole == 'Registered' ||
          userRole == 'AirlineAdmin' ||
          userRole == 'SystemAdmin'
        "
        >My Car Service</a
      >

      <div
        class="dropdown"
        [hidden]="
          userRole == 'NonRegistered' ||
          userRole == 'Registered' ||
          userRole == 'AirlineAdmin' ||
          userRole == 'CarAdmin'
        "
      >
        <button
          class="btn btn-outline-light dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="border-color: #e37222"
        >
          Registrations
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/register-rac-company"
            >Register RaC Company</a
          >
          <a class="dropdown-item" routerLink="/register-flight-company"
            >Register Flight Company
          </a>
          <a class="dropdown-item" routerLink="/register-administrator"
            >Register Administrator
          </a>
        </div>
      </div>
    </nav>
    <nav class="nav nav-pills ml-auto flex-column flex-sm-row">
      <a
        class="flex-sm-fill text-sm-center nav-link"
        routerLink="/login"
        routerLinkActive="active"
        [hidden]="
          userRole == 'SystemAdmin' ||
          userRole == 'Registered' ||
          userRole == 'AirlineAdmin' ||
          userRole == 'CarAdmin'
        "
        >Sign in
      </a>
      <a
        class="flex-sm-fill text-sm-center nav-link"
        href="#"
        routerLink="/register"
        routerLinkActive="active"
        [hidden]="
          userRole == 'SystemAdmin' ||
          userRole == 'Registered' ||
          userRole == 'AirlineAdmin' ||
          userRole == 'CarAdmin'
        "
        >Register
      </a>

      <div class="dropdown" [hidden]="userRole == 'NonRegistered'">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Settings
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/edit-profile">View profile</a>
          <a class="dropdown-item" href="#" (click)="logOutUser()">Sign out </a>
        </div>
      </div>
    </nav>
  </div>
</nav>
