<app-nav-bar></app-nav-bar>

<div class="background-image">
  <div
    style="background-color: transparent; color: white"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">WEB 2 Project</h1>
      <p class="lead">pr125-2016, pr129-2016</p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <app-rac-service-navbar></app-rac-service-navbar>
  <div class="container transparent-bg">
    <br />

    <form>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 rounded border-color transparent-bg">
          <br />

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Model" />
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Brand" />
          </div>

          <div class="form-group">
            <input type="number" class="form-control" placeholder="Year" />
          </div>
        </div>
        <div class="col-sm-4 rounded border-color transparent-bg">
          <br />

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Car type" />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Number of seats"
            />
          </div>

          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Price per day ($) "
            />
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 rounded border-color transparent-bg">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Location" />
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="text-center">
        <br />
        <button type="submit" class="btn btn-secondary">Add new car</button>
        <br />
      </div>
    </form>

    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead style="background: #e37222">
          <tr>
            <th scope="col">Model</th>
            <th scope="col">Brand</th>
            <th scope="col">Year</th>
            <th scope="col">Car Type</th>
            <th scope="col">Number of seats</th>
            <th scope="col">Price per day ($)</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Audi</td>
            <td>Petra Petrovica 2, Novi Sad</td>
            <td>10$</td>
            <td>Reserved</td>
            <td>Audi</td>
            <td>Audi</td>
            <td>Audi</td>
            <td>Audi</td>
            <td>
              <button type="button" class="btn mx-4 btn-secondary btn-sm">
                Edit
              </button>
              <button type="button" class="btn mx-4 btn-secondary btn-sm">
                Remove
              </button>
            </td>
          </tr>
          <tr>
            <td>Audi</td>
            <td>Petra Petrovica 2, Novi Sad</td>
            <td>10$</td>
            <td>Reserved</td>
            <td>Audi</td>
            <td>Audi</td>
            <td>Audi</td>
            <td>Audi</td>
            <td>
              <button type="button" class="btn mx-4 btn-secondary btn-sm">
                Edit
              </button>
              <button type="button" class="btn mx-4 btn-secondary btn-sm">
                Remove
              </button>
            </td>
          </tr>
          <tr>
            <td>Audi</td>
            <td>Petra Petrovica 2, Novi Sad</td>
            <td>10$</td>
            <td>Reserved</td>
            <td>Audi</td>
            <td>Audi</td>
            <td>Audi</td>
            <td>Audi</td>
            <td>
              <button type="button" class="btn mx-4 btn-secondary btn-sm">
                Edit
              </button>
              <button type="button" class="btn mx-4 btn-secondary btn-sm">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />
  </div>
</div>
