<app-nav-bar></app-nav-bar>

<div class="background-image">
  <div
    style="background-color: transparent; color: white"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">WEB 2 Project</h1>
      <p class="lead">pr125-2016, pr129-2016</p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <app-rac-service-navbar></app-rac-service-navbar>
  <div class="container transparent-bg">
    <br />

    <form
      [formGroup]="addCarForm"
      (ngSubmit)="addNewCar()"
      [hidden]="mode == 'edit'"
    >
      <div class="text-center">
        <h4><b>Add new car</b></h4>
      </div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 rounded border-color transparent-bg">
          <br />

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Model"
              formControlName="model"
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Brand"
              formControlName="brand"
            />
          </div>

          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Year"
              formControlName="year"
            />
          </div>
        </div>
        <div class="col-sm-4 rounded border-color transparent-bg">
          <br />

          <div class="form-group">
            <div class="dropdown">
              <button
                class="btn btn-info dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ selectedCarType }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div>
                  <button
                    type="button"
                    class="dropdown-item btn-primary btn-block"
                    id="option"
                    on-click="saveSelectedCarType('Suv')"
                  >
                    Suv
                  </button>
                  <button
                    type="button"
                    class="dropdown-item btn-primary btn-block"
                    id="option"
                    on-click="saveSelectedCarType('Supercar')"
                  >
                    Supercar
                  </button>
                  <button
                    type="button"
                    class="dropdown-item btn-primary btn-block"
                    id="option"
                    on-click="saveSelectedCarType('Truck')"
                  >
                    Truck
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Number of seats"
              formControlName="numberOfSeats"
            />
          </div>

          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Price per day ($) "
              formControlName="pricePerDay"
            />
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="row text-center">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 rounded border-color transparent-bg">
          <div class="form-group">
            <div class="dropdown">
              <button
                class="btn btn-info dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ selectedOffice }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div *ngFor="let office of allOffices">
                  <button
                    type="button"
                    class="dropdown-item"
                    id="option"
                    on-click="
                      saveSelectedOffice(office.id, office.city, office.address)
                    "
                  >
                    {{ office.city }} : {{ office.address }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="text-center">
        <br />
        <button type="submit" class="btn btn-secondary">Add new car</button>
        <br />
      </div>
    </form>

    <form
      [formGroup]="editCarForm"
      (ngSubmit)="editCar()"
      [hidden]="mode == 'add'"
    >
      <div class="text-center">
        <h4><b>Edit car info</b></h4>
      </div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 rounded border-color transparent-bg">
          <br />

          <div>
            <label>Model: {{ editCarModel }}</label>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Model"
              formControlName="model"
            />
          </div>

          <div>
            <label>Brand: {{ editCarBrand }}</label>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Brand"
              formControlName="brand"
            />
          </div>

          <div>
            <label>Year: {{ editCarYear }}</label>
          </div>

          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Year"
              formControlName="year"
            />
          </div>
        </div>
        <div class="col-sm-4 rounded border-color transparent-bg">
          <br />

          <div>
            <label>Car type: {{ editCarTypeOfCar }}</label>
          </div>

          <div class="form-group">
            <div class="dropdown">
              <button
                class="btn btn-info dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ selectedEditCarType }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div>
                  <button
                    type="button"
                    class="dropdown-item btn-primary btn-block"
                    id="option"
                    on-click="saveEditedCarType('Suv')"
                  >
                    Suv
                  </button>
                  <button
                    type="button"
                    class="dropdown-item btn-primary btn-block"
                    id="option"
                    on-click="saveEditedCarType('Supercar')"
                  >
                    Supercar
                  </button>
                  <button
                    type="button"
                    class="dropdown-item btn-primary btn-block"
                    id="option"
                    on-click="saveEditedCarType('Truck')"
                  >
                    Truck
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div>
            <label>Number of Seats: {{ editCarNumberOfSeats }}</label>
          </div>

          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Number of seats"
              formControlName="numberOfSeats"
            />
          </div>

          <div>
            <label>Price per day: {{ editCarPricePerDay }}</label>
          </div>

          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Price per day ($) "
              formControlName="pricePerDay"
            />
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="text-center">
        <br />
        <button type="submit" class="btn btn-secondary">Save changes</button>
        <br />
      </div>
    </form>

    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead style="background: #e37222">
          <tr>
            <th scope="col">Model</th>
            <th scope="col">Brand</th>
            <th scope="col">Year</th>
            <th scope="col">Car Type</th>
            <th scope="col">Number of seats</th>
            <th scope="col">Price per day ($)</th>
            <th scope="col">Office</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let car of allCars">
          <tr>
            <td>{{ car.model }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.typeOfCar }}</td>
            <td>{{ car.numberOfSeats }}</td>
            <td>{{ car.pricePerDay }}</td>
            <td></td>
            <td></td>
            <td>
              <button
                type="button"
                class="btn mx-4 btn-secondary btn-sm"
                (click)="editCarButton($event)"
                id="{{ car.id }}"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn mx-4 btn-secondary btn-sm"
                (click)="deleteCarButton($event)"
                id="{{ car.id }}"
              >
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />
  </div>
</div>
