<app-nav-bar></app-nav-bar>

<div class="background-image">
  <div
    style="background-color: transparent; color: white"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">WEB 2 Project</h1>
      <p class="lead">pr125-2016, pr129-2016</p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <div class="container" style="background-color: rgba(245, 245, 245, 0.2)">
    <br />
    <div class="text-center">
      <h4>
        <b>Rent A Car Company: {{ racCompanyName }}</b>
      </h4>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead style="background: #e37222">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Description</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Average rating</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ racCompanyName }}</td>
            <td>{{ racCompanyAddress }}</td>
            <td>{{ racCompanyDescription }}</td>
            <td>{{ racCompanyPhoneNumber }}</td>
            <td>{{ racCompanyRating }} / 5</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />
    <br />
    <br />

    <br />
    <div class="text-center">
      <h4><b>Company Offices </b></h4>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead style="background: #e37222">
          <tr>
            <th scope="col">Address</th>
            <th scope="col">City</th>
          </tr>
        </thead>
        <tbody *ngFor="let office of allOffices">
          <tr>
            <td>{{ office.address }}</td>
            <td>{{ office.city }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />
    <br />
    <br />

    <br />
    <div class="text-center">
      <h4><b>Company Cars </b></h4>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead style="background: #e37222">
          <tr>
            <th scope="col">Model</th>
            <th scope="col">Brand</th>
            <th scope="col">Year</th>
            <th scope="col">Car Type</th>
            <th scope="col">Number of seats</th>
            <th scope="col">Price per day ($)</th>
          </tr>
        </thead>
        <tbody *ngFor="let car of allCars">
          <tr>
            <td>{{ car.model }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.typeOfCar }}</td>
            <td>{{ car.numberOfSeats }}</td>
            <td>{{ car.pricePerDay }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />
  </div>
</div>
