<div class="container">
  <ul class="nav nav-tabs nav-fill transparent-bg">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/rac-service-edit-profile"
        routerLinkActive="active"
        >Edit RaC profile</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLinkActive="active"
        routerLink="/rac-service-cars"
        class="nav-link"
        >Cars</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/rac-service-offices"
        routerLinkActive="active"
        >Offices</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/rac-service-report"
        routerLinkActive="active"
        >Report</a
      >
    </li>
  </ul>
</div>
