.transparent-bg {
  /*background-color: rgba(245, 245, 245, 0.2); */
  background-color: white !important;
}

.active {
  color: white !important;
  background-color: #e37222 !important;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: black !important;
  background-color: #eeaa7b !important;
}
