.card {
  border: solid orange 1px;
}

.transparent-background {
  background-color: gray,
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.table-head-color {
  background-color: #e37222;
}

.center-cards {
  display: flex;
  justify-content: center;
}

hr.solid {
  border-top: 2px solid whitesmoke;
}

.background-image {
  background-image: url("../../../assets/background2.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
