<app-nav-bar></app-nav-bar>

<div class="background-image">
  <div
    style="background-color: transparent; color: white"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">WEB 2 Project</h1>
      <p class="lead">pr125-2016, pr129-2016</p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <!--Ako se radi za neregistrovanog korisnika-->
  <div
    class="container"
    style="background-color: rgba(245, 245, 245, 0.2)"
    [hidden]="userRole != 'NonRegistered'"
  >
    <div class="text-center">
      <br />
      <h2>Partnered companies</h2>
      <br />
    </div>
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr class="text-center">
            <th scope="col" colspan="4"><h2>Airlines</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="card float-right" style="width: 150px">
                <img
                  class="card-img-top"
                  src="../../../assets/air_serbia.png"
                  alt="Air Serbia"
                  style="width: 100%; height: 150px"
                />
                <div class="card-body">
                  <h4 class="card-title">Air <br />Serbia</h4>
                  <a
                    href="#"
                    class="btn btn-primary"
                    routerLink="/airline-profile"
                    >See Profile</a
                  >
                </div>
              </div>
            </td>

            <td>
              <div class="card" style="width: 150px">
                <img
                  class="card-img-top rounded"
                  src="../../../assets/qatar_airways2.png"
                  alt="Qatar Airways"
                  style="width: 100%; height: 150px"
                />
                <div class="card-body">
                  <h4 class="card-title">Qatar Airways</h4>
                  <a
                    href="#"
                    class="btn btn-primary"
                    routerLink="/airline-profile"
                    >See Profile</a
                  >
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <button
                type="button"
                class="btn btn-primary btn-lg"
                routerLink="/flights"
              >
                See Available Flights
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />
    <br />

    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr class="text-center">
            <th scope="col" colspan="2">
              <h2>Rent a Car</h2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="card float-right" style="width: 150px">
                <img
                  class="card-img-top rounded"
                  src="../../../assets/ar_rent_a_car.jpg"
                  alt="RentACar"
                  style="width: 100%; height: 150px"
                />
                <div class="card-body">
                  <h4 class="card-title">AR <br />RaC</h4>
                  <a
                    href="#"
                    class="btn btn-primary"
                    routerLink="/rent-a-car-profile"
                    >See Profile</a
                  >
                </div>
              </div>
            </td>
            <td>
              <div class="card" style="width: 150px">
                <img
                  class="card-img-top rounded"
                  src="../../../assets/karavan_rent_a_car.jpg"
                  alt="RentACar"
                  style="width: 100%; height: 150px"
                />
                <div class="card-body">
                  <h4 class="card-title">Karavan <br />RaC</h4>
                  <a
                    href="#"
                    class="btn btn-primary"
                    routerLink="/rent-a-car-profile"
                    >See Profile</a
                  >
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <button
                type="button"
                class="btn btn-primary btn-lg"
                routerLink="/rac-services"
              >
                Search Car Companies
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container" style="background-color: rgba(245, 245, 245, 0.2)">
    Sadrzaj za registrovanog korisnika
  </div>
</div>
