<app-nav-bar></app-nav-bar>

<div class="background-image">
  <div
    style="background-color: transparent; color: white"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">WEB 2 Project</h1>
      <p class="lead">pr125-2016, pr129-2016</p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <div class="container" style="background-color: rgba(245, 245, 245, 0.2)">
    <div class="table-responsive" [hidden]="userRole == 'NonRegistered'">
      <div class="text-center">
        <br />
        <h2>History of reservations</h2>
        <br />
      </div>

      <form [formGroup]="rateTransactionForm" (ngSubmit)="rateTransaction()">
        <table class="table table-bordered text-center">
          <thead style="background: #e37222">
            <tr>
              <th scope="col">Transport type</th>
              <th scope="col">Start date</th>
              <th scope="col">End date</th>
              <th scope="col">Total price</th>
              <th scope="col">Status</th>
              <th scope="col">Rate</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngFor="let reservation of allReservations">
            <tr>
              <td>Car</td>
              <td>
                {{ reservation.firstDayOfReservaton | date: "MM/dd/yyyy" }}
              </td>
              <td>
                {{ reservation.lastDayOfReservaton | date: "MM/dd/yyyy" }}
              </td>
              <td>{{ reservation.totalPrice }} $</td>
              <td>
                {{ getReservationStatus(reservation.lastDayOfReservaton) }}
              </td>

              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  formControlName="rating"
                />
              </div>

              <td>
                <button
                  type="submit"
                  class="btn mx-4 btn-primary"
                  id="reservation.id"
                >
                  Rate
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <br />
    <br />

    <div class="text-center">
      <br />
      <h2>Airline companies</h2>
      <br />
    </div>

    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead style="background: #e37222">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Description</th>
            <th scope="col">Average rating</th>
            <th scope="col">Destinations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AirSerbia</td>
            <td>Belgrade</td>
            <td>Affordable flights</td>
            <td>4/5</td>
            <td>London/Paris/New York...</td>
          </tr>
          <tr>
            <td>QatarAirways</td>
            <td>Doha</td>
            <td>Affordable flights</td>
            <td>4/5</td>
            <td>London/Paris/New York...</td>
          </tr>
        </tbody>
      </table>

      <div class="text-center">
        <button
          type="button"
          class="btn btn-primary btn-lg"
          routerLink="/flights"
        >
          Search Flights
        </button>
      </div>
    </div>
    <br />
    <br />

    <div class="text-center">
      <br />
      <h2>Rent A Car Companies</h2>
      <br />
    </div>

    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead style="background: #e37222">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Description</th>
            <th scope="col">Average rating</th>
          </tr>
        </thead>
        <tbody *ngFor="let rac of allCarCompanies">
          <tr>
            <td>
              <a [routerLink]="['/rac-services/profile', rac.id]"
                >{{ rac.companyName }}
              </a>
            </td>
            <td>{{ rac.adress }}</td>
            <td>{{ rac.description }}</td>
            <td>4/5</td>
          </tr>
        </tbody>
      </table>

      <div class="text-center">
        <button
          type="button"
          class="btn btn-primary btn-lg"
          routerLink="/rac-services"
        >
          Search Cars
        </button>
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
