<div class="background-image">
  <nav style="background-color: #e37222;" class="navbar navbar-dark">
    <div class="container">
      <div
        *ngIf="isUserLogged() == 'unsigned'; then unsigned; else signed"
      ></div>
      <ng-template #unsigned>
        <a routerLink="/home" class="navbar-brand">WEB2</a>
        <nav class="nav nav-pills mr-auto flex-column flex-sm-row">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            routerLink="/home"
            routerLinkActive="active"
            >Home</a
          >
          <a
            class="flex-sm-fill text-sm-center nav-link"
            routerLink="/flights"
            routerLinkActive="active"
            >Flights</a
          >
          <a
            class="flex-sm-fill text-sm-center nav-link"
            routerLink="/cars"
            routerLinkActive="active"
            >Rent a Car</a
          >
        </nav>
        <nav class="nav nav-pills ml-auto flex-column flex-sm-row">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            routerLink="/login"
            routerLinkActive="active"
            >Sign in
          </a>
          <a
            class="flex-sm-fill text-sm-center nav-link"
            href="#"
            routerLink="/register"
            routerLinkActive="active"
            >Register
          </a>
        </nav>
      </ng-template>
      <ng-template #signed>
        <a routerLink="/signed-home" class="navbar-brand">WEB2</a>
        <nav class="nav nav-pills mr-auto flex-column flex-sm-row">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            routerLink="/signed-home"
            routerLinkActive="active"
            >Home</a
          >
          <a
            class="flex-sm-fill text-sm-center nav-link"
            routerLink="/signed-flights"
            routerLinkActive="active"
            >Flights</a
          >
          <a
            class="flex-sm-fill text-sm-center nav-link"
            routerLink="/signed-cars"
            routerLinkActive="active"
            >Rent a Car</a
          >

          <div *ngIf="isUserLogged() == 'rac-admin'">
            <a
              class="flex-sm-fill text-sm-center nav-link"
              routerLink="/rac-service-edit-profile"
              routerLinkActive="active"
              >My Car Service</a
            >
          </div>
        </nav>
        <nav class="nav nav-pills ml-auto flex-column flex-sm-row">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Petar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="/edit-profile"
                >View profile</a
              >
              <a class="dropdown-item" href="#" (click)="logOutUser()"
                >Sign out
              </a>
            </div>
          </div>
        </nav>
      </ng-template>
    </div>
  </nav>

  <div
    style="background-color: transparent; color: white;"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">
        WEB 2 Project
      </h1>
      <p class="lead">
        pr125-2016, pr129-2016
      </p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>

<footer class="page-footer font-small">
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
</footer>
