.nav-link {
  color: whitesmoke !important;
}

.active {
  color: #e37222 !important;
  background-color: white !important;
}

.nav-link:hover {
  text-decoration: underline;
}

hr.solid {
  border-top: 2px solid #07889b;
}