<app-nav-bar></app-nav-bar>

<div class="background-image">
  <div
    style="background-color: transparent; color: white"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">WEB 2 Project</h1>
      <p class="lead">pr125-2016, pr129-2016</p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <app-profile-navbar></app-profile-navbar>
  <div class="container transparent-bg">
    <br />
    <form [formGroup]="editProfileForm" (ngSubmit)="saveProfileChanges()">
      <div class="mx-4 form-group">
        <label>Email address: {{ currentUserEmail }}</label>
        <input
          type="email"
          class="form-control"
          placeholder="Email..."
          formControlName="email"
        />
      </div>
      <div class="mx-4 form-group">
        <label>First name: {{ currentUserName }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="First name..."
          formControlName="name"
        />
      </div>

      <div class="mx-4 form-group">
        <label>Last name: {{ currentUserLastName }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="Last name..."
          formControlName="lastName"
        />
      </div>

      <div class="mx-4 form-group">
        <label>City: {{ currentUserCity }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="City..."
          formControlName="city"
        />
      </div>

      <div class="mx-4 form-group">
        <label>Phone number: {{ currentUserPhoneNumber }}</label>
        <input
          type="number"
          class="form-control"
          placeholder="Phone number..."
          formControlName="phoneNumber"
        />
      </div>

      <div class="mx-4 form-group">
        <label>New password </label>
        <input
          type="password"
          class="form-control"
          placeholder="New password..."
          formControlName="newPassword"
        />
      </div>

      <br />
      <button type="submit" class="btn mx-4 btn-primary">Save changes</button>
    </form>
    <br />
  </div>
  <br />
  <br />
</div>
