<app-profile-navbar></app-profile-navbar>
<div class="container transparent-bg">
  <br />
  <form action="/action_page.php">
    <div class="mx-4 form-group">
      <label for="email">Email address:</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email..."
        id="email"
      />
    </div>
    <div class="mx-4 form-group">
      <label for="firstName">First name:</label>
      <input
        type="text"
        class="form-control"
        placeholder="First name..."
        id="firstName"
      />
    </div>

    <div class="mx-4 form-group">
      <label for="lastName">Last name:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Last name..."
        id="lastName"
      />
    </div>

    <div class="mx-4 form-group">
      <label for="city">City:</label>
      <input type="text" class="form-control" placeholder="City..." id="city" />
    </div>

    <div class="mx-4 form-group">
      <label for="phone">Phone number:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Phone number..."
        id="phone"
      />
    </div>

    <br />
    <button type="submit" class="btn mx-4 btn-primary">Save changes</button>
  </form>
  <br />
</div>
