<app-nav-bar></app-nav-bar>

<div class="background-image">
  <div
    style="background-color: transparent; color: white"
    class="jumbotron jumbotron-fluid text-center"
  >
    <div class="container">
      <h1 class="display-3">Team7</h1>
      <p class="lead">
        Worldwide offering of fast and affordable car rentals and flights!
      </p>
      <br />
      <hr class="solid" />
    </div>
  </div>

  <div class="container emp-profile">
    <div class="row">
      <div class="col-sm-4">
        <div class="profile-img">
          <img src="../../../../assets/karavan_rent_a_car.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="profile-head">
          <h5>Karavan RaC</h5>
          <h6>Rent-A-Car Company</h6>
          <p class="profile-promo">CHEAPEST CAR RENTAL IN TOWN</p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >Cars</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row">
              <div class="col-sm-6">
                <label>Name</label>
              </div>
              <div class="col-sm-6">
                <p>Karavan RaC</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label>City</label>
              </div>
              <div class="col-sm-6">
                <p>Belgrade</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label>Address</label>
              </div>
              <div class="col-sm-6">
                <p>Petra Petrovica 2, Belgrade</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label>Email</label>
              </div>
              <div class="col-sm-6">
                <p>karavan_rac@gmail.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label>Rating</label>
              </div>
              <div class="col-sm-6">
                <p>4.8/5</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label>Available Cars</label>
              </div>
              <div class="col-sm-6">
                <p>Fiat, Audi...</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label>Available At</label>
              </div>
              <div class="col-sm-6">
                <p>Petra Petrovica 2, Belgrade...</p>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="row">
              <div class="col-sm-6">
                <label>All available cars</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>
